[submodule "circuit-group"]
	path = circuit-group
	url = https://github.com/ZeX2/Qvandidat
	branch = circuit-group
[submodule "problem-group"]
	path = problem-group
	url = https://github.com/ZeX2/Qvandidat
	branch = problem-group
